@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Vazir.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/Vazir.woff") format("woff"), /* Pretty Modern Browsers */
    url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}


/* Main Style */
html, body{
    font-family: 'Vazir' !important;
    line-height: 1.7em
}

.icon {
    color: #0d6efd;
    background-color: #ebeafb;
    display: inline-flex;
    padding: 15px;
    border-radius: 15px;
}

.bg-main {
    background-color: #1b2a4e;
}

.cart:hover{
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
