@font-face {
    font-family: "Vazir";
    src: url("./fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("./fonts/Vazir.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Vazir.woff2") format("woff2"), /* Super Modern Browsers */
    url("./fonts/Vazir.woff") format("woff"), /* Pretty Modern Browsers */
    url("./fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Style */
html, body{
    font-family: 'Vazir', Arial, B Nazanin;
    line-height: 1.7em
}

h1, h2, h3{
    padding-bottom: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

.container{
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}

.btn {
    display: inline-block;
    background: #0c2461;
    font-size: 18px;
    color: #fff;
    padding: 13px 20px;
    border: none;
    border-radius: 4px;
}

.btn:hover{
    background: #fff;
    color: #0c2461;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #0c2461;
    color: #fff;
}

.clr{
    clear: both;
}

.l-heading {
    font-size: 40px;
    margin-top: 15px;
}

/*********** Padding ************/
.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

/************ Navbar ***********/
#navbar{
    background-color: #0c2461;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar .logo{
    float: left;
    /*padding-top: 15px;*/
    /*padding-bottom: 0;*/
    padding-top: 20px;
}

#navbar ul{
    float: right;
    list-style-type: none;
}

#navbar ul li{
    float: right;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;

}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #041a74;
}

#showcase{
    background-image: url("./img/showcase.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size:cover;
    height: 600px;
    opacity: 0.8;
}

.showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}

#home-info {
    height: 400px;
    /* overflow: hidden; */
}

#home-info .info-img{
    float: left;
    background-image: url("./img/photo-1.jpg");
    background-size: cover;
    width: 50%;
    height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
    height: 100%;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

.box{
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 50px;
}

.box i {
    margin-bottom: 10px;
}

/********** About Info **********/
#about-info{
    min-height: 100%;
}

#about-info .info-right{
    float: right;
    width: 50%;
}

#about-info .info-right p{
    text-align: justify;
    text-justify: inter-word;

}
#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
    text-align: left;
}

/* Testimonials */

#testimonials {
    height: 100%;
    padding-top: 100px;
    background-image: url("./img/test-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

#testimonials h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    /*margin-top: 90px;*/
}

#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 100px;
}

/* Contact Form */
#contact-form .form-group{
    margin-bottom: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea{
    width: 100%;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 10px;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus{
    /*border-color: #0c2461;*/
}

/*  Footer  */
#main-footer{
    text-align: center;
    background: #0c2461;
    color: #fff;
    padding: 20px;
}